<html>
    <head>
    <title>{{.MyVar}}</title>
    </head>
    <body>
        <h1></h1>
        <form method="post">
            Username:<input type="text" name="username">
            Password:<input type="text" name="message">
            <input type="submit" name="action" value="login">
            <input type="submit" name="action" value="register">
        </form>
    </body>
</html>