<html>
    <head>
    <title>{{.MyVar}}</title>
    </head>
    <body>
        <h1>{{.username}} NODES!</h1>
        {{ range .dataNote }}
            {{.}} <br>
        {{ end }}
        <br>
        <form method="post">
            Message: <input type="text" name="message">
            <input type="submit" name="action" value="Add New">
        </form>
    </body>
</html>